.env
public/assets
public/packs
config/credentials.ymc.enc
.DS_Store
public/uploads
public/uploads/tmp

/.bundle
public/uploads/photo
/db/*.sqlite3
config/master.key
config/credentials.yml.enc
.idea
/db/*.sqlite3-journal
/db/*.sqlite3
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
config/initializers/secret_token.rb
config/master.key
!/storage/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
