<div class="center">
  <table class='scoreboard'>
  <thead>
    <th>Rank</th>
    <th>User</th>
    <th>Score</th>
    </thead>
    <tbody>

    <% users.each do |rank| %>
              <tr>
                <td class="rank"><%= rank[:rank].ordinalize %></td>
                <td><%= rank[:username] %></td>
                <td class="score"><%= rank[:score].round(3) %></td>
              </tr>
            <% end %>
    </tbody>
    </table>
</div>