<p>
Hi Herp folks! <Br/><Br/>It's been a solid first week so far yall have ID'ed a cumulativate <strong>3597</strong> speices. With one user Critterdex ID'ing 929 themselves! A few other notable folks this week are <em>Steve</em> with the highest common name acuracy 97.9%, <em>salamandersquad</em> with 94.2% accuracy on scientific name, and a big thanks to <em>Laurelhach</em> for their 44 species tagged as venomous/venomous.
</p>
So here's what I'll be adding to the site next:
<ul>
  <li>Practice ID'ing based on venomous/not</li>
  <li>Learning mode where you practice a few of 5-10 species and master them before moving on</li>
  <li>Live chat (really just for the programming challenge for me)</li>
  <li>Internal messaging -- Notify you when reports are approved and such</li>
  <li>Expanding the user system to allow people other than me to handle reports. I'm not an expert so this is a must when the IDs get tough. Get in touch if you're interested in helping out with incorrect ID reports.</li>
  <li>Opting-out of emails xD (I promise this will be up before I send another in a few weeks)</li>
  <li><strong>Anything you want to see!</strong> Open an issue on github @ <a href="https://github.com/n8ta/HerpID/issues">github.com/n8ta/HerpID/issues</a></li>
</ul>

<p>
If you'd like to help me out please star the project <a href="https://github.com/n8ta/HerpID/stargazers">on github</a> it makes me look good (:
</p>

<p>
Thanks for a great first week yall.
</p>

<Br>
- Nate (n8)
<br/>
<a target="_blank" href="https://n8ta.com">n8ta.com</a>
<br/>
<a href="mailto:nateta98@gmail.com">nateta98@gmail.com</a>
