/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 73, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger {
  padding: 0px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
/* line 91, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger:hover {
  opacity: 0.7;
}
/* line 101, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger.is-active:hover {
  opacity: 0.7;
}
/* line 110, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: gainsboro;
}

/* line 118, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 125, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
/* line 130, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: gainsboro;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 143, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 149, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner::before {
  top: -10px;
}
/* line 153, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Vortex
 */
/* line 164, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 168, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
/* line 175, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
/* line 179, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
/* line 185, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 189, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
/* line 194, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
/* line 199, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/* line 3, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
body {
  display: grid;
  grid-template-rows: auto min-content min-content auto;
  grid-template-columns: auto minmax(30rem, 75rem) auto;
  grid-template-areas: ". logo ." " . breadcrumb ." ". flash . " " . content .";
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
body #content {
  grid-area: content;
  padding: 2rem;
}
/* line 17, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
body #logo-holder {
  grid-area: logo;
  z-index: 10;
}

/* line 21, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 5;
  background-color: #466F56;
  text-align: center;
}
/* line 23, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo #menubutton {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 28, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo #menubutton .hamburger {
  padding-top: 1rem;
}
/* line 30, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo h1 {
  margin-left: 2rem;
  margin-right: 2rem;
}
/* line 36, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo #herpID {
  color: #9ACCAA;
}
/* line 40, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo #info {
  font-size: 0.8em;
  color: black;
  text-decoration-color: black;
  text-decoration-style: unset;
}
/* line 45, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo a {
  text-decoration: none;
}
/* line 47, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo a.right_of_logo {
  margin-top: 2rem;
}
/* line 49, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#logo h1 {
  margin-bottom: -1rem;
}

/* line 52, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#subregions {
  z-index: 10;
}
/* line 54, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#subregions #subregions-inner {
  padding-left: 2rem;
  padding-right: 2rem;
}
/* line 55, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#subregions #subregions-inner a:hover {
  color: #70A480;
}
/* line 57, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#subregions #subregions-inner a:active {
  color: #385a40;
}
/* line 59, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#subregions #subregions-inner * {
  font-size: 0.9em;
  font-weight: 100;
}

/* line 65, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu #menu-inner {
  padding-left: 2rem;
}
/* line 68, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu * {
  color: white;
}
/* line 70, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu p {
  margin-top: 0;
}
/* line 72, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu a:hover h4 {
  color: #70A480;
  text-decoration: underline;
}
/* line 75, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu a:active h4 {
  color: #385a40;
  text-decoration: underline;
}
/* line 78, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
  margin-top: 2rem;
}
/* line 83, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#menu ul li {
  margin-bottom: 4rem;
}

/* line 86, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.drop_down_menu {
  min-width: 30rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #406649;
  position: absolute;
  left: 0;
  right: 0;
  height: 0px;
  overflow-y: hidden;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s;
  -ms-transition: height 0.7s;
  -o-transition: height 0.7s;
  transition: height 0.7s;
}

/* line 104, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#breadcrumb {
  z-index: 4;
  grid-area: breadcrumb;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #406649;
}
/* line 109, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#breadcrumb #world {
  height: 2.5rem;
  fill: white;
}
/* line 112, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#breadcrumb #world:hover {
  fill: #9ACCAA;
}
/* line 114, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#breadcrumb, #breadcrumb h2, #breadcrumb a {
  color: white;
  font-weight: 100;
}
/* line 117, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#breadcrumb h2 a:hover, #breadcrumb h2 svg:hover {
  color: #9ACCAA !important;
}

/* line 120, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#flash {
  margin-top: 2rem;
  grid-area: flash;
  background-color: #9ACCAA;
  padding: 1rem;
}

/* line 125, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#flash:empty {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 129, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.tier-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
}
/* line 136, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.tier-list li {
  padding-right: 0.5rem;
}

/* line 140, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species {
  margin-bottom: 10rem;
}
/* line 142, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species a.main {
  text-align: center;
  margin-top: 3rem;
}
/* line 146, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species h4 .correct {
  font-weight: 900;
  color: #406649;
  text-shadow: 0.1rem -0.1rem 0.5rem white, 0.1rem 0.1rem 0.5rem white, -0.1rem 0.1rem white;
}
/* line 150, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species h4 .incorrect {
  font-weight: 700;
  color: darkred;
}
/* line 153, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species button[disabled=disabled], .species button:disabled {
  color: #70A480;
}
/* line 155, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li {
  list-style: none;
  list-style-type: none;
  margin-top: 1rem;
  background: linear-gradient(to right, #466F56, #004683);
}
/* line 160, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li:hover {
  background: linear-gradient(to left, #466F56, #004683);
}
/* line 163, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li.correct button {
  font-weight: 700;
  color: #406649;
}
/* line 167, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li.incorrect button {
  color: darkred;
  font-weight: 700;
}
/* line 171, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li.guess button {
  background-color: #466F56;
  color: white;
  font-weight: 900;
}
/* line 176, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li:hover button {
  background-color: #466F56;
}
/* line 179, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li:active button {
  background-color: #406649;
}
/* line 181, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li button {
  width: 100%;
  background-color: #9ACCAA;
  border: solid 1.3rem transparent;
  margin-top: 0.3rem;
}
/* line 182, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species li button * {
  font-size: 2rem !important;
}
/* line 189, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species .two-col {
  min-height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
/* line 194, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.species .two-col div {
  grid-area: auto;
}

/* line 197, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#next {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3rem;
}
/* line 202, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#next button.happypath {
  box-shadow: white 0.1rem 0.1rem 1rem, white -0.1rem -0.1rem 1rem, white -0.1rem 0.1rem 1rem, white 0.1rem -0.1rem 1rem;
}
/* line 204, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#next button.badpath {
  color: #231A1E;
}
/* line 206, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#next button {
  color: white;
  background-color: #466F56;
  border: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
}
/* line 213, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#next button:hover {
  background-color: #406649;
  color: #231A1E;
}
/* line 216, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
#next button:active {
  background-color: #231A1E;
  color: white;
}

/* line 220, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
footer {
  margin-top: 5rem;
}
/* line 222, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
footer img {
  width: 5rem;
  height: 5rem;
}

/* line 228, /Users/n8ta/code/SnakeID/app/assets/stylesheets/app.sass */
.lower_links {
  margin-top: 2rem;
  text-align: center;
}
@font-face {
  font-family: "bd-bold";
  src: url("/fonts/bdbold.otf") format("otf"), url("/fonts/bdbold.woff") format("woff"), url("/fonts/bdbold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bd-book-italic";
  src: url("/fonts/bdbookitalic.otf") format("otf"), url("/fonts/bdbookitalic.woff") format("woff"), url("/fonts/bdbookitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bd-smallcap-book";
  src: url("/fonts/bd72smlcapbook.otf") format("otf"), url("/fonts/bd72smlcapbook.woff") format("woff"), url("/fonts/bd72smlcapbook.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bd-old-book";
  src: url("/fonts/bd72oldbook.otf") format("otf"), url("/fonts/bd72oldbook.woff") format("woff"), url("/fonts/bd72oldbook.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* line 27, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
* {
  font-family: bd-old-book;
  font-size: 2.5rem;
}
@media (width > 35rem) {
  /* line 27, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
  * {
    font-size: 2rem;
  }
}

/* line 33, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
html {
  font-size: 62.5%;
}

/* line 36, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#subregions * {
  font-size: 0.8em;
}

/* line 40, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#logo a:not(#logo_anchor) {
  color: #70A480;
}
/* line 42, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#logo a:hover {
  color: #d2d2d2;
}
/* line 44, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#logo a:active {
  color: white;
}

/* line 47, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#breadcrumb {
  text-align: center;
}
/* line 49, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#breadcrumb *, #breadcrumb a {
  font-size: 2.5rem;
}
/* line 51, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#breadcrumb .subhead {
  font-size: 0.5em;
  margin-left: 0.2em;
}

/* line 54, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
#flash {
  text-align: center;
}

/* line 57, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 62, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
h1, h1 * {
  font-family: bd-bold;
  color: white;
  font-size: 5rem;
}

/* line 67, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
h2, a h2, h2 a {
  font-family: bd-book-italic;
  color: white;
}

/* line 71, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
h2 {
  font-size: 5rem;
}

/* line 74, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
h3 {
  color: #231A1E;
  font-size: 3rem;
  font-family: bd-smallcap-book;
}

/* line 79, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
h4, h4 * {
  color: white;
  font-size: 3rem;
  font-family: bd-book-italic;
}

/* line 84, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
button {
  letter-spacing: 0rem;
}

/* line 87, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
body {
  color: #231A1E;
  font-size: 2rem;
  background-color: #70A480;
}

/* line 92, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
button.main {
  font-family: bd-smallcap-book;
}

/* line 95, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
a {
  font-family: bd-smallcap-book;
  color: white;
}
/* line 98, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
a:hover {
  color: #406649;
}
/* line 100, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
a.main {
  font-size: 2.5rem;
}

/* line 103, /Users/n8ta/code/SnakeID/app/assets/stylesheets/fonts.sass */
.center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/* line 4, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
#menu input, #menu label {
  width: 2rem;
  height: 2rem;
  color: white;
}

/* line 9, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
.hidden {
  display: none;
}

/* line 12, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
.loading_anim {
  margin-top: -2rem;
  position: relative;
  background: #BCE27F;
  margin-bottom: 2rem;
}

/* line 19, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
.loading_anim:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  z-index: 999;
  border-radius: 50%;
  background: #231A1E;
  animation-name: loading_anim;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes loading_anim {
  0% {
    transform: translate(-72.5px, -7.5px);
  }
  100% {
    transform: translate(58.5px, -7.5px);
  }
}
/* line 43, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input[type=checkbox].venomous {
  height: 2rem;
  width: 2rem;
}
/* line 46, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form .field {
  margin-top: 2rem;
}
/* line 48, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form .warning {
  color: indianred;
  font-size: 1.5rem;
  height: 0;
  text-align: right;
  padding-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-weight: 100;
}
/* line 57, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form .warning.top {
  margin-bottom: 2rem;
  text-align: left;
}
/* line 60, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form .warning.top:empty {
  margin-bottom: 0rem;
}
/* line 64, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form label {
  margin-top: 2.5rem;
}
/* line 66, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input {
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  background-color: #466F56;
}
/* line 73, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input.valid {
  background-color: #004683;
  color: white;
}
/* line 76, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input[type=submit] {
  margin-top: 2rem;
  width: unset;
  color: #9ACCAA;
}
/* line 80, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input[type=submit].ready {
  margin-top: 2rem;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.3) 0.1rem 0.1rem 1rem, rgba(255, 255, 255, 0.3) -0.1rem -0.1rem 1rem, rgba(255, 255, 255, 0.3) -0.1rem 0.1rem 1rem, rgba(255, 255, 255, 0.3) 0.1rem -0.1rem 1rem;
}
/* line 84, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input[type=submit].ready:hover {
  background-color: #406649;
  box-shadow: rgba(255, 255, 255, 0.4) 0.1rem 0.1rem 1rem, rgba(255, 255, 255, 0.4) -0.1rem -0.1rem 1rem, rgba(255, 255, 255, 0.4) -0.1rem 0.1rem 1rem, rgba(255, 255, 255, 0.4) 0.1rem -0.1rem 1rem;
}
/* line 87, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form input[type=submit].ready:active {
  background-color: #231A1E;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.8) 0.1rem 0.1rem 1rem, rgba(255, 255, 255, 0.8) -0.1rem -0.1rem 1rem, rgba(255, 255, 255, 0.8) -0.1rem 0.1rem 1rem, rgba(255, 255, 255, 0.8) 0.1rem -0.1rem 1rem;
}
/* line 93, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
form #report_suggestions a {
  display: block;
}

/* line 95, /Users/n8ta/code/SnakeID/app/assets/stylesheets/forms.sass */
#report_form {
  min-height: 70rem;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  -ms-transition: height 2s;
  -o-transition: height 2s;
  transition: height 2s;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 73, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger {
  padding: 0px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
/* line 91, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger:hover {
  opacity: 0.7;
}
/* line 101, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger.is-active:hover {
  opacity: 0.7;
}
/* line 110, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: gainsboro;
}

/* line 118, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 125, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
/* line 130, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: gainsboro;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 143, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 149, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner::before {
  top: -10px;
}
/* line 153, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Vortex
 */
/* line 164, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 168, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
/* line 175, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
/* line 179, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
/* line 185, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 189, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
/* line 194, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
/* line 199, /Users/n8ta/code/SnakeID/app/assets/stylesheets/hamburgers.scss */
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}
/* line 3, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_region {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
/* line 7, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_region a {
  font-size: 3rem;
}

/* line 10, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons {
  margin-bottom: 4rem;
  list-style: none;
  padding-left: 0;
}
/* line 14, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-areas: "left right";
  grid-column-gap: 1rem;
  margin-top: 3rem;
}
/* line 21, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li img {
  grid-area: left;
  box-shadow: -0.8rem 0.8rem #004683;
  max-width: 100%;
  min-width: 100%;
}
/* line 26, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li .prebutton {
  grid-area: right;
  background: linear-gradient(to right, #466F56, #004683);
  text-decoration: underline;
}
/* line 30, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li .prebutton:hover {
  background: linear-gradient(to left, #466F56, #004683);
}
/* line 32, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li .prebutton:hover h3 {
  color: #003767;
}
/* line 34, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li .prebutton button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  background-color: #9ACCAA;
  border: solid 1rem transparent;
  height: 100%;
}
/* line 41, /Users/n8ta/code/SnakeID/app/assets/stylesheets/pick_taxons.sass */
#pick_taxons li .prebutton button:hover {
  cursor: pointer;
}
/* line 1, /Users/n8ta/code/SnakeID/app/assets/stylesheets/reports.sass */
.report {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: auto;
}
/* line 2, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  width: 100%;
}
/* line 8, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer p {
  margin-top: 0;
  text-align: center;
  font-size: 0.9em;
  z-index: 5;
  position: absolute;
  color: white;
  top: 1rem;
  text-shadow: 0.2rem 0.2rem 0.2rem #385a40, -0.2rem -0.2rem 0.2rem #385a40, -0.2rem 0.2rem 0.2rem #385a40, 0.2rem -0.2rem 0.2rem #385a40;
}
/* line 17, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer p span {
  display: block;
  font-size: 0.7em;
}
/* line 20, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer .zoom_inner {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
/* line 24, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer .zoom_inner .zoom {
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-out;
}
/* line 29, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer .zoom_inner .zoom img {
  visibility: hidden;
  width: 100%;
  max-height: 40vh;
}
/* line 34, /Users/n8ta/code/SnakeID/app/assets/stylesheets/zoom.sass */
.zoom_outer .zoom_inner .zoom:hover {
  transform: scale(2);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

