<div class="center">
  <table>
    <th>
      <ol>
        <% users.each do |rank| %>
          <div>
            <span class="rank"><%= rank[:rank].ordinalize %></span>
            <%= rank[:username] %>: <span class="score"><%= rank[:score].round(3) %></span>
          </div>
        <% end %>
      </ol>
</div>