<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 32 32" style="height: 2.5rem; width: 2.5rem" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#70A480;stroke:#70A480;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
    .st1{fill:#70A480;}
  </style>
  <title></title>
  <line class="st0" x1="17" y1="16" x2="4" y2="16"/>
  <path class="st1" d="M7,25v4c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1V3c0-0.6-0.4-1-1-1H8C7.4,2,7,2.4,7,3v4h2V4h16v24H9v-3H7z"/>
  <line class="st0" x1="13" y1="12" x2="17" y2="16"/>
  <line class="st0" x1="13" y1="20" x2="17" y2="16"/>
  <line class="st0" x1="8" y1="6" x2="8" y2="8"/>
  <line class="st0" x1="8" y1="24" x2="8" y2="26"/>
</svg>
