<% content_for :title do %>
  Pick your taxon
<% end %>

<h2>Pick your Herp</h2>
<ul id="pick_taxons">
  <% @taxons.each do |txn| %>

    <li>

      <%= image_tag txn.photo.url  %>
      <%= link_to quiz_pick_region_path(txn), class: 'main' do %>
        <div class="prebutton">
        <%= button_tag do %>
          <h3><%= txn.common_names[0].name %></h3>
        <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>