<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'All Countries', tier1s_path %>
</p>


<p>
  <strong>Name:</strong>
  <%= @tier1.name %>
</p>

<ul>
  <% @tier1.tier2s.each do | t2 | %>
    <li><%= link_to t2.name, tier2_url(t2) %></li>
  <% end %>
</ul>

