html
  display: grid
  grid-template-columns: auto minmax(0px,65rem) auto
  grid-template-areas: '. body .'

body
  font-size: 1.2rem
  grid-area: body
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 1rem

navbar
  display: grid
  grid-template-columns: 50% 50%
  grid-template-areas: 'left right'
  a
    grid-area: left
  #scoreboard
    grid-area: right


.tier-list
  display: flex
  flex-direction: row
  justify-content: flex-start
  list-style-type: none
  flex-wrap: wrap
  padding-left: 0
  li
    padding-right: .5rem


.species
  display: grid
  grid-template-columns: auto minmax(2rem,32rem) minmax(2rem,32rem) auto
  grid-column-gap: .5rem
  grid-row-gap: .5rem
  grid-template-areas: '. left right .'
  .spec-left
    h2
      margin-bottom: 0
    grid-area: left
    margin-right: 1rem
    .spec-buttons
      display: grid
      grid-template-columns: 50% 50%
      ul
        grid-template-area: auto
        flex-basis: 50%
      ul:first-child
        margin-right: .2em
  .spec-right
    grid-area: right
  .correct
    color: darkgreen
  .incorrect
    color: darkred
  .guess
    color: black
  button
    width: 100%
    background-color: lightblue
    padding: .2rem .2rem .2rem .4rem
    margin: .2rem
    text-align: left
    font-size: 1.1rem
    .correct
      background-color: green
    .incorrect
      bakcground-color: red
  &[type='disabled']
    background-color: grey
  #next
    color: black
    background-color: lightgreen
  .sci_name
    font-style: italic
  ul
    list-style-type: none
    padding-left: 0

@media (width < 700px)
  .species
    grid-template-columns: 100%
    grid-template-rows: auto auto
    grid-row-gap: 1rem
    grid-template-areas: 'top' 'bottom'
    .spec-left
      grid-area: bottom
    .spec-right
      grid-area: top

footer
  margin-top: 200pt
  img
    width: 2rem
    height: 2rem
