@import 'vars'
@import "hamburgers"
body
  display: grid
  grid-template-rows: auto min-content min-content auto
  grid-template-columns: auto minmax(30rem,75rem)  auto
  grid-template-areas: '. logo .' ' . breadcrumb .'  '. flash . '' . content .'
  padding: 0
  margin: 0
  font-size: 1.2rem
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  #content
    grid-area: content
    padding: 2rem
  #logo-holder
    grid-area: logo
    z-index: 10

#logo
  max-height: 5rem
  #logo_anchor
    display: flex
    justify-content: center
    flex-direction: column
  position: relative
  #menubutton
    position: relative
    #menubutton-alert.active
      position: absolute
      width: 1.5rem
      height: 1.5rem
      border-radius: 1.5rem
      content: "1"
      right: .5rem
      top: .5rem
      background-color: red !important
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    .hamburger
      padding-top: 1rem
  h1
    margin: 0
    padding: 0
    a
      margin: 0
      padding: 0
    margin-left: 1rem
    margin-right: 2rem
  display: flex
  justify-content: center
  z-index: 5
  #herpID
    color: $light-green
    @media (width < $breakpoint)
      display: none
  background-color: $dark-green
  text-align: center
  #info
    font-size: .8em
    color: black
    text-decoration-color: black
    text-decoration-style: unset
  a
    text-decoration: none
  .right_of_logo
    margin-top: .5rem
  h1
    margin-bottom: -1rem

#subregions
  z-index: 10
  #subregions-inner
    margin-left: auto
    margin-right: auto
    text-align: center
    a:hover
      color: $mid-green
    a:active
      color: $darkest-green
    *
      font-size: 1em
      font-weight: 100
    padding-bottom: 2rem
    max-width: 30rem
    padding-left: 2rem
    padding-right: 2rem

#scoreboard
  max-width: 45rem
  margin-left: auto
  margin-right: auto
#menu
  #menu-inner
    padding-bottom: 2rem
    max-width: 30rem
    padding-left: 2rem
    padding-right: 2rem
  p
    margin-top: 0
  ul
    padding-left: 0
    list-style-type: none
    text-align: center
    margin-top: 2rem
    li
      margin-bottom: 4rem

.drop_down_menu
  min-width: 30rem
  max-width: 75rem
  margin-left: auto
  margin-right: auto
  background-color: $darker-green
  position: absolute
  left: 0
  right: 0
  height: 0px
  overflow-y: hidden
  -webkit-transition: height .7s
  -moz-transition: height .7s
  -ms-transition: height .7s
  -o-transition: height .7s
  transition: height .7s


#signup
  max-width: 30rem
  margin-bottom: 3rem

#breadcrumb
  z-index: 4
  grid-area: breadcrumb
  padding: 1rem 2rem 1rem 2rem
  background-color: $darker-green
  #world
    height: 2.5rem
    *
      fill: white !important
  #world:hover
      fill: $light-green
  &,h2, a
    color: white
    font-weight: 100
  h2 a:hover, h2 svg:hover
    color: $light-green !important

#flash
  margin-top: 2rem
  grid-area: flash
  background-color: $light-green
  padding: 1rem
#flash:empty
  margin: 0 !important
  padding: 0 !important

.tier-list
  display: flex
  flex-direction: row
  justify-content: flex-start
  list-style-type: none
  flex-wrap: wrap
  padding-left: 0
  li
    padding-right: .5rem

.alert
  display: inline-block
  svg
    fill: white
    height: 1.3rem
    width: 1.3rem


.font-heavy
  font-weight: 900

.species
  margin-bottom: 10rem
  a.main
    text-align: center
    margin-top: 3rem
  h4
    .correct
      font-weight: 900
      color: $darker-green
      text-shadow: .1rem -.1rem .5rem white, .1rem .1rem .5rem white, -.1rem .1rem white
    .incorrect
      font-weight: 700
      color: darkred
  button[disabled=disabled], button:disabled
      color: $mid-green
  li
    list-style: none
    list-style-type: none
    margin-top: 1rem
    background: linear-gradient(to right, $dark-green, $blue)
    &:hover
      background: linear-gradient(to left, $dark-green, $blue)
      button
        background-color: $dark-green
    &.correct
      button
        text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white
        font-weight: 700
        color: $darker-green
    &.incorrect
      button
        color: darkred
        font-weight: 700
    &.guess
      button
        background-color: $dark-green
        color: white
        font-weight: 900
    &:active
      button
        background-color: $darker-green
    button
      *
        font-size: 2rem !important
      padding: 0
      overflow: hidden
      width: 100%
      background-color: $light-green
      border: solid 1.3rem transparent
      margin-top: .3rem

  .two-col
    min-height: 35rem
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 1rem
    margin-bottom: 2rem
    div
      grid-area: auto

.text-center
  text-align: center

#next
  position: fixed
  left: 0
  right: 0
  bottom: 3rem
  button.happypath
    box-shadow: white .1rem .1rem 1rem, white -.1rem -.1rem 1rem, white -.1rem .1rem 1rem, white .1rem -.1rem 1rem
  button.badpath
    color: $brown
  button
    color: white
    background-color: $dark-green
    border: 0

    padding: 1rem 2rem 1rem 2rem
    border-radius: 3rem
    &:hover
      background-color: $darker-green
      color: $brown
    &:active
      background-color: $brown
      color: white

footer
  margin-top: 5rem
  img
    width: 5rem
    height: 5rem
.active .chevron
    transform: rotate(90deg)
.chevron
  margin-bottom: -.25rem
  height: .65em
  width: .65em
  fill: white
  -webkit-transition: transform .3s
  -moz-transition: transform .3s
  -ms-transition: transform .3s
  -o-transition: transform .3s
  transition: transform .3s


.lower_links
  margin-top: 2rem
  text-align: center

.google_button
  img
    width: 15rem
  img:hover
    box-shadow: 0px 0px 10px white

#set_username
  .warning
    min-height: 1.5rem

button:not(.special)[disabled]
  color: $mid-green
  background-color: $dark-green
  &:hover, &:active
    color: $mid-green !important
    background-color: $dark-green !important


#subregion_search_input
  margin-top: 1rem