@import 'vars'
@import "hamburgers"
body
  display: grid
  grid-template-rows: auto min-content min-content auto
  grid-template-columns: auto minmax(30rem,75rem)  auto
  grid-template-areas: '. logo .' ' . breadcrumb .'  '. flash . '' . content .'
  padding: 0
  margin: 0
  font-size: 1.2rem
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  #content
    grid-area: content
    padding: 2rem
  #logo-holder
    grid-area: logo
    z-index: 10

#logo
  position: relative
  #menubutton
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    .hamburger
      padding-top: 1rem
  h1
    margin-left: 2rem
    margin-right: 2rem
  display: flex
  justify-content: center
  z-index: 5
  #herpID
    color: $light-green
  background-color: $dark-green
  text-align: center
  #info
    font-size: .8em
    color: black
    text-decoration-color: black
    text-decoration-style: unset
  a
    text-decoration: none
  a.right_of_logo
    margin-top: 2rem
  h1
    margin-bottom: -1rem
#menu
  a:hover h4
    color: $mid-green
    text-decoration: underline
  a:active h4
    color: $darkest-green
    text-decoration: underline
  ul
    padding-left: 0
    list-style-type: none
    text-align: center
    margin-top: 2rem
    li
      margin-bottom: 2rem
  min-width: 30rem
  max-width: 75rem
  margin-left: auto
  margin-right: auto
  background-color: $darker-green
  position: absolute
  left: 0
  right: 0
  height: 0px
  overflow-y: hidden
  -webkit-transition: height .7s
  -moz-transition: height .7s
  -ms-transition: height .7s
  -o-transition: height .7s
  transition: height .7s

#breadcrumb
  z-index: 4
  grid-area: breadcrumb
  padding: 1rem 2rem 1rem 2rem
  background-color: $darker-green
  #world
    height: 2.5rem
    fill: white
  #world:hover
      fill: $light-green
  &,h2, a
    color: white
  .subhead
    font-size: .5em
    margin-left: .2em
  h2 a:hover, h2 svg:hover
    color: $light-green !important

#flash
  margin-top: 2rem
  grid-area: flash
  background-color: $light-green
  padding: 1rem
#flash:empty
  margin: 0 !important
  padding: 0 !important

.tier-list
  display: flex
  flex-direction: row
  justify-content: flex-start
  list-style-type: none
  flex-wrap: wrap
  padding-left: 0
  li
    padding-right: .5rem


.species
  margin-bottom: 10rem
  a.main
    text-align: center
    margin-top: 3rem
  h4
    .correct
      font-weight: 900
      color: $darker-green
      text-shadow: .1rem -.1rem .5rem white, .1rem .1rem .5rem white, -.1rem .1rem white
    .incorrect
      font-weight: 700
      color: darkred
  button[disabled=disabled], button:disabled
      color: $mid-green
  li
    list-style: none
    list-style-type: none
    margin-top: 1rem
    background: linear-gradient(to right, $dark-green, $blue)
    &:hover
      background: linear-gradient(to left, $dark-green, $blue)
    &.correct
      button
        font-weight: 700
        color: $darker-green
    &.incorrect
      button
        color: darkred
        font-weight: 700
    &.guess
      button
        background-color: $dark-green
        color: white
        font-weight: 900
    &:hover
      button
        background-color: $dark-green
    &:active
      button
        background-color: $darker-green
    button
      *
        font-size: 2rem !important
      width: 100%
      background-color: $light-green
      border: solid 1.3rem transparent
      margin-top: .3rem

  .two-col
    min-height: 40rem
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 1rem
    div
      grid-area: auto

#next
  position: fixed
  left: 0
  right: 0
  bottom: 3rem
  button.happypath
    box-shadow: white .1rem .1rem 1rem, white -.1rem -.1rem 1rem, white -.1rem .1rem 1rem, white .1rem -.1rem 1rem
  button.badpath
    color: $brown
  button
    color: white
    background-color: $dark-green
    border: 0

    padding: 1rem 2rem 1rem 2rem
    border-radius: 3rem
    &:hover
      background-color: $darker-green
      color: $brown
    &:active
      background-color: $brown
      color: white

footer
  margin-top: 5rem
  img
    width: 5rem
    height: 5rem

#new_user

.lower_links
  margin-top: 2rem
  text-align: center

