@import 'vars'

button
  letter-spacing: 0rem

body
  color: $brown
  font-size: 2rem
  background-color: $mid-green

button.main
  font-family: bd-smallcap-book

button[disabled] .alert
  svg
    fill: $light-green