@import 'vars'

@font-face
  font-family: 'bd-bold'
  src: url('/fonts/bdbold.otf') format('otf'), url('/fonts/bdbold.woff') format('woff'), url('/fonts/bdbold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bd-book-italic'
  src: url('/fonts/bdbookitalic.otf') format('otf'), url('/fonts/bdbookitalic.woff') format('woff'), url('/fonts/bdbookitalic.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bd-smallcap-book'
  src: url('/fonts/bd72smlcapbook.otf') format('otf'), url('/fonts/bd72smlcapbook.woff') format('woff'), url('/fonts/bd72smlcapbook.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bd-old-book'
  src: url('/fonts/bd72oldbook.otf') format('otf'), url('/fonts/bd72oldbook.woff') format('woff'), url('/fonts/bd72oldbook.woff2') format('woff2')
  font-weight: normal
  font-style: normal

*
  font-family: bd-old-book
  font-size: 2.5rem
  @media (width > 35rem)
    font-size: 2rem

html
  font-size: 62.5%


#logo
  a:not(#logo_anchor)
    color: $mid-green
  a:hover
    color: rgb(210,210,210)
  a:active
    color: white

#breadcrumb
  text-align: center
  *, a
    font-size: 2.5rem
  .subhead
    font-size: .8em
    margin-left: .2em
#flash
  text-align: center

h1,h2,h3,h4
  margin: 0
  padding: 0
  text-align: center

h1, h1 *
  font-family: bd-bold
  color: white
  font-size: 5rem

h2, a h2, h2 a
  font-family: bd-book-italic
  color: white

h2
  font-size: 5rem

h3
  color: $brown
  font-size: 3rem
  font-family: bd-smallcap-book

h4, h4 *
  color: white
  font-size: 3rem
  font-family: bd-book-italic

button
  letter-spacing: 0rem

body
  color: $brown
  font-size: 2rem
  background-color: $mid-green

button.main
  font-family: bd-smallcap-book

a
  font-family: bd-smallcap-book
  color: white
  &:hover
    color: $darker-green
  &:active
    color: $brown
  &.main
    font-size: 2.5rem

.scoreboard
  margin-bottom: 2rem
  text-align: center
  .rank
    //font-family: serif
    //text-decoration: underline
    //font-size: 2.5rem
    margin-right: 2rem
  .score
    color: white


#menu
  *
    color: white
  a
    color: white
    &:hover
      color: $light-green
    &:active
      color: $mid-green

.center
  display: flex
  justify-content: center
  flex-direction: row
