@import 'vars'

@font-face
  font-family: 'bd-bold'
  src: url('/fonts/bdbold.otf') format('otf'), url('/fonts/bdbold.woff') format('woff'), url('/fonts/bdbold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bd-book-italic'
  src: url('/fonts/bdbookitalic.otf') format('otf'), url('/fonts/bdbookitalic.woff') format('woff'), url('/fonts/bdbookitalic.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bd-smallcap-book'
  src: url('/fonts/bd72smlcapbook.otf') format('otf'), url('/fonts/bd72smlcapbook.woff') format('woff'), url('/fonts/bd72smlcapbook.woff2') format('woff2')
  font-weight: normal
  font-style: normal

html
  font-size: 62.5%

body
  font-size: 2rem

h1,h2,h3
  margin: 0
  padding: 0
  text-align: center

h1
  font-family: bd-bold
  color: white
  font-size: 8rem

h2
  font-family: bd-book-italic
  color: white
  font-size: 5rem

h3
  color: $brown
  font-size: 2.5rem
  font-family: bd-smallcap-book


body
  color: $brown
  background-color: $mid-green

a
  font-family: bd-smallcap-book
  font-size: 2.5rem
  color: $brown
  &:hover
    color: $darker-green !important

.center
  display: flex
  justify-content: center
  flex-direction: row


@media (width > 35rem)
  h3
    font-size: 4rem !important