@import 'vars'

#learn
  #mastered_list_wrap
    margin-bottom: 1rem
  .main_progbar_holder
    margin-bottom: 2rem

  #progbar_container
    flex-wrap: wrap
    img
      height: 2rem
      width: 2rem
  .hidden
    display: none
  .lead_text, .lead_text *
    font-size: 4rem
  .lead
    color: $brown
    min-height: 22rem
    padding-top: 3rem
  .lead button
    font-size: 2rem
  .two-col
    display: grid
    grid-template-columns: 50% 50%
    grid-column-gap: 1rem


    div
      grid-area: auto