@import "vars"

.progress-bar
  width: 9rem
  border-radius: 1rem
  height: 3.5rem
  background-color: $darker-green
  display: inline-block
  margin-left: .5rem
  margin-right: .5rem
  position: static
  .progress-bar-inner
    background-color: $darkest-green
    height: 100%
  .progress-bar-text
    padding-top: .5rem
    padding-left: .5rem
    color: $light-green
    position: absolute
    font-family: bd-old-book