@import "vars"

.progress-bar
  transition: border 1s ease-in
  width: 9rem
  border-radius: .5rem
  height: 2rem
  background-color: $darker-green
  display: inline-block
  margin-left: .5rem
  margin-right: .5rem
  position: relative
  .progress-bar-inner
    transition: width .1s ease-in
    background-color: $brown
    height: 100%
    border-radius: .5rem
  .progress-bar-text
    padding-left: .5rem
    top: 0
    font-size: .7em
    color: $light-green
    position: absolute
    font-family: bd-old-book
.progress-bar.wide
  width: 18rem
.progress-bar.flash
  border: 5px solid white
  border-radius: 5px