@import 'vars'
.zoom_container
  position: relative
  #poison_icon
    z-index: 5
    background: $light-green
    border-radius: 14rem
    padding: 1rem
    path
      fill: $darkest-green
    position: absolute
    fill: white
    width:  8rem
    height: 8rem
    top: 1rem
    right: 1rem
  overflow: hidden
  margin-bottom: 1rem
  display: flex
  justify-content: center
  flex-direction: row
  width: 100%
  .zoom
    max-width: 100%
    background-size: contain
    background-repeat: no-repeat
    transition: transform .3s ease-out
    img
      // This is just used to size #zoom, the background of zoom is the image shown to the user
      visibility: hidden
      width: 100%
      max-height: 40vh
    &:hover
      transform: scale(2)