@import 'vars'
.zoom_outer
  margin-top: 2rem !important
  display: flex
  justify-content: center
  flex-direction: row
  position: relative
  width: 100%
  .tip_area
    position: absolute
    z-index: 5
    bottom: 4rem
    font-size: .9em
  .poison_icon
    margin-top: 0
    text-align: center
    font-size: .9em
    z-index: 5
    position: absolute
    color: white
    top: 1rem
    text-shadow: .2rem .2rem .2rem $darkest-green, -.2rem -.2rem .2rem $darkest-green, -.2rem .2rem .2rem $darkest-green, .2rem -.2rem .2rem $darkest-green
  .zoom_inner
    position: relative
    overflow: hidden
    margin-bottom: 1rem
    background-image: url(asset_path('loading.svg'))
    background-size: 30% 30%
    background-position: top center
    background-repeat: no-repeat
    .zoom
      max-height: 40vh
      max-width: 100%
      background-size: contain
      background-repeat: no-repeat
      transition: transform .3s ease-out
      img
        // This is just used to size #zoom, the background of zoom is the image shown to the user
        visibility: hidden
        max-height: 40vh
      &:hover
        transform: scale(2)