<p id="notice"><%= notice %></p>
<h2>Regions</h2>
<p>Choose a region and you will be quizzed on identifying snakes from that region.</p>
<% @regions.each do |region| %>
  <div><%= link_to region.name, region %></div>
<% end %>
<%# photo = Photo.all[rand(Photo.all.length)].image_path.url %>
<% photo = "https://via.placeholder.com/300x150.png" %>
<%= react_component('Zoom', {url: photo }) %>
