<h2>Do you want to</h2>

<div class="centered_md_col">
  <div class="col-6">
    <%= link_to taxon_region_game_mode_path(@taxon, @region, "learn") do %>
      <button class="main">Learn</button>
    <% end %>
    <p>You will be given a small set of species to practice and then move on once you have mastered them. Nothing gets
      recorded for the scoreboard</p>
  </div>
  <div class="col-6">
    <%= link_to taxon_region_game_mode_path(@taxon, @region, "quiz") do %>
      <button class="main">Compete</button>
    <% end %>
    <p>You will be given all of the species present in the region all at once. Results will be posted on the
      scoreboard.</p>

  </div>

</div>