<h1><%= @region.name.titleize %></h1>
<p>Current we have <%= @species.length %> species with photos and <%= @region.species.length %> total</p>
<hr>
<%= react_component('SpeciesPicker', {id: @specie.id,
                                      image_path: @photo.image_path.url,
                                      options: @options,
}) %>
