<h2>Do you want to</h2>

<div class="row centered_md_col">
  <div class="center">
    <%= link_to game_taxon_region_path(@taxon, @region, "learn") do %>
      <button>Learn 📖</button>
    <% end %>
    &nbsp     &nbsp
    <%= link_to game_taxon_region_path(@taxon, @region, "quiz") do %>
      <button>Compete ⚔</button>
    <% end %>

  </div>
  <p>In learning mode you will be given a small set of species to practice, nothing gets put on the scoreboard. In
    quiz/compete mode you will be given all of the species present in the region. Results will be posted on the
    scoreboard.</p>
</div>