<% content_for :title do "Reports (#{Report.all.pending.size})" end %>
<% content_for :breadcrumb do "#{Report.all.pending.size} Pending Reports" end %>
<h2>Reports</h2>

<div class="center">
  <div>
    <% if @reports.size == 0 %>
      <br/>
      <h4>No Reports</h4>

    <% end %>
    <% @reports.each do |report| %>
        <% # Ternaries all handle optional parts of the report, eg. they may have reported for venomous so report.taxon is nil %>
        <%= react_component("Handlereport", {photoUrl: report.photo.image_path.url,
                                             venomous: report.venomous ? report.venomous : nil,
                                             currentTaxonCommon: report.photo.taxon.common_name,
                                             currentTaxonSci: report.photo.taxon.name,
                                             newTaxonCommon: report.taxon ? report.taxon.common_name : nil,
                                             newTaxonSci: report.taxon ? report.taxon.name : nil,
                                             noHerp: report.no_herp,
                                             reportId: report.id,
                                             approveUrl: approve_report_url(report),
                                             rejectUrl: reject_report_url(report),
                                             userId: report.created_by ? report.created_by.id : nil,
                                             userTotal: report.created_by ? report.created_by.total_seen : nil,
                                             userSciAcc: report.created_by ? report.created_by.accuracy_scientific.round(3) : nil,
                                             userComAcc: report.created_by ? report.created_by.accuracy_common.round(3) : nil,
                                             userUsername: report.created_by ? report.created_by.username : nil, }) %>
    <% end %>


  </div>
</div>



