<% content_for :title do
  "Reports (#{Report.all.pending.size})"
end %>
<% content_for :breadcrumb do
  "#{Report.all.pending.size} Pending Reports"
end %>
<h2>Reports</h2>

<div class="center">
  <div>
    <% if @reports.size == 0 %>
      <br/>
      <h4>No Reports</h4>

    <% end %>
    <% @reports.each do |report|
      component_params = Hash.new
      component_params[:reportId] = report.id
      component_params[:approveUrl] = approve_report_url(report,report.class.name)
      component_params[:rejectUrl] = reject_report_url(report,report.class.name)

      unless report.created_by_id.nil?
        component_params[:userId] = User.find(report.created_by_id).id
        component_params[:userUsername] = User.find(report.created_by_id).username
        component_params[:userTotal] = User.find(report.created_by_id).total_seen
        component_params[:userSciAcc] = User.find(report.created_by_id).accuracy_scientific.round(3)
        component_params[:userComAcc] = User.find(report.created_by_id).accuracy_common.round(3)
      end

     case report.class.name
      when "DeadHerpReport"
        component_params[:deadHerp] = true
        component_params[:photoUrl] = report.photo.image_path.url
      when "BadIdReport"

        component_params[:currentTaxonCommon] = report.photo.taxon.common_name
        component_params[:currentTaxonSci] = report.photo.taxon.sci_name
        component_params[:newTaxonCommon] = report.taxon.common_name
        component_params[:newTaxonSci] = report.taxon.sci_name
        component_params[:photoUrl] = report.photo.image_path.url
      when "VenomReport"
        component_params[:photoUrl] = report.taxon.photos[0].image_path.url
        component_params[:venomous] = report.venomous
        component_params[:currentTaxonCommon] = report.taxon.common_name
        component_params[:currentTaxonSci] = report.taxon.sci_name
      when "NoHerpReport"
        component_params[:photoUrl] = report.photo.image_path.url
        component_params[:noHerp] = true
      end
      %>
      <%= react_component("Handlereport", component_params) %>
    <% end %>


  </div>
</div>



